.ingen-tilgang-container {
    background: var(--ax-bg-sunken);
    height: 100%;
}

.ingen-tilgang {
    padding: 2rem;
    max-width: 620px;
    margin: 0 auto;
}

.ingen-tilgang-knapp, .ingen-tilgang-link {
    margin-top: 1rem;
}

.ingen-tilgang-link:hover {
    cursor: pointer;
}