
.flex {
	display: flex;
}
.flex-grow {
	flex-grow: 1;
}

.tab-menu {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 0;

	&__content {
		max-width: 100%;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

	&__headers {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1920px;
		padding: 0 .5rem;

		&--hoire {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
		}
	}

	&__headers--wrapper {
		flex-grow: 1;
		display: flex;
		z-index: 1;
	}

	&__tab-content {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-height: 0;
	}

	&__tab-content--vedtaksstotte {
		position: relative;
		z-index: 0;
	}

	.no-display {
		display: none;
	}
}

.tab {
	margin-left: 7px;
	background: none;
	cursor: pointer;
	border: 0;
	padding: 0.4rem 0;
	border-bottom: 3px solid transparent;

	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px var(--a-blue-800);
	}

	&:first-child {
		margin-left: 0;
	}

	&__title {
		color: var(--a-gray-800);
		padding: 0 1.25rem;

		&__notification {
			font-size: 0.875rem;
			background-color: var(--a-red-500);
			color: white;
			border-radius: 100%;
			padding: 0 8px;
			margin-left: 0.05rem;
			top: -8px;
			position: relative;
		}
	}

	&__title:hover {
		color: var(--a-gray-800);
	}

	&__title--selected {
		color: var(--a-gray-800);
		font-weight: 900 !important;
	}

	&:hover:not(:focus) {
		border-bottom: 3px solid var(--a-blue-500);
	}

	&--selected:not(:focus) {
		border-bottom: 3px solid var(--a-blue-500);
	}
}
