@import "~nav-frontend-core/less/_variabler";

.spa-mock {
	width: 100%;
	flex-grow: 1;

	&__content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		color: white;
		max-width: 1200px;
		width: 80%;
		height: 30rem;
		margin: 2rem auto 0 auto;

		&--visittkort {
			background-color: white;
			color: black;
			height: 10rem;
			width: 100%;
			max-width: none;
			margin-top: 0;
		}

		&--mao {
			background-color: #388e3c;
		}

		&--aktivitetsplan {
			margin-top: 0;
			background-color: #ffa000;
		}

		&--dialog {
			background-color: #7b0074;
		}

		&--vedtaksstotte {
			background-color: #1e88e5;
		}

	}


}

