<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <filter>
        <filter-name>decoratorFilter</filter-name>
        <filter-class>no.nav.fo.veilarbpersonflatefs.Dekorator</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>decoratorFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>charEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
    <filter-name>charEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>no.nav.fo.veilarbpersonflatefs.config.ApplicationConfig</param-value>
    </context-param>

    <servlet>
        <servlet-name>selftest</servlet-name>
        <servlet-class>no.nav.fo.veilarbpersonflatefs.internal.SelftestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selftest</servlet-name>
        <url-pattern>/internal/selftest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>isAlive</servlet-name>
        <servlet-class>no.nav.fo.veilarbpersonflatefs.internal.IsAliveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>isAlive</servlet-name>
        <url-pattern>/internal/isAlive</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>selftest-json</servlet-name>
        <servlet-class>no.nav.fo.veilarbpersonflatefs.internal.SelftestJsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selftest-json</servlet-name>
        <url-pattern>/internal/selftest.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>no.nav.fo.veilarbpersonflatefs.AppServlet</servlet-class>
        <init-param>
            <param-name>applicationFile</param-name>
            <param-value>index.html</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>restservlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>no.nav.fo.veilarbpersonflatefs.rest.RestConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>restservlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Ubeskyttet</web-resource-name>
            <url-pattern>/api/login</url-pattern>
            <url-pattern>/internal/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Alt annet beskyttet</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- From Servlet spec 3.1 "**" means any authenticated user
            ref: https://community.oracle.com/blogs/swchan2/2013/04/19/role-servlet-31-security-constraint -->
            <role-name>**</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>