// We set 100% height on all parent elements so that the tabs can take control over all the remaining space

html,
body,
#veilarbpersonflatefs-root,
.veilarbpersonflatefs {
	height: 100%;
}

body {
	background-color: white;
	margin: 0;
}

header.dekorator {
	font-size: 1rem;
}

@media print {
	@page {
		margin: 0;
	}

	body {
		margin-bottom: 5mm;
		margin-top: 5mm;
	}

	.dekorator {
		display: none;
	}

	div.navds-tabs {
		display: none;
	}

	div.visittkortfs {
		display: none;
	}
}

#veilarbpersonflatefs-root {
	display: flex;
	flex-direction: column;
}

.spa-wrapper__tab-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	// NAVSPA mounts a micro frontend wrapped with a <div>
	> div {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}

.spa-wrapper__tab-content-dialog {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 30rem;

	// NAVSPA mounts a micro frontend wrapped with a <div>
	> div {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}

veilarb-detaljer,
.veilarbvedtaksstottefs-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
