name: paoa frontend container dev

on:
  push:
    branches:
      - 'master'
    paths:
      - '.github/workflows/poao-frontend-container-dev.yml'
      - '.nais/poao-nais-dev.yaml'
  workflow_dispatch:

concurrency:
  group: pto_frontend_container_dev
  cancel-in-progress: true

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - name: deploy gcp dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/poao-nais-dev.yaml
